<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="pt"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="pt"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="pt"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="pt"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=320px" />
    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <title>Chá do meu bebê! Convites para o seu chá de bebê e chá de frauda</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="stylesheet" href="stylesheets/foundation.min.css">
  <link rel="stylesheet" href="stylesheets/comming-soon.css">
  <script src="javascripts/modernizr.foundation.js"></script>
  <%= csrf_meta_tags %>

  <meta name="description" content="Seu bebê está chegando e você quer compartilhar essa alegria maravilhosa? Nós podemos te ajudar a espalhar a notícia! Crie agora mesmo seu convite personalizado aqui no 'Chá do meu bebê', é grátis!">

  <meta name="keywords" content="chá de bebê, chá de bebê lista, chá de bebê virtual, chá de bebe convite, chá de bebê simples, chá de bebê criativo, chá de bebê divertido, chá de bebê dicas, cha de bebe decoração, chá de bebê feminino, chá de bebê masculino, chá de bebê fraldas, convites para chá de bebê gratis, convites de chá de bebê gratuitos, chá de bebe ideias, chá de bebê molduras, chá de bebê mensagens">


</head>
<body>

<%= yield %>

    <!-- Piwik -->
    <script type="text/javascript">
      var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.israelst.com/" : "http://piwik.israelst.com/");
      document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
      </script><script type="text/javascript">
      try {
        var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
        piwikTracker.trackPageView();
        piwikTracker.enableLinkTracking();
      } catch( err ) {}
    </script><noscript><p><img src="http://piwik.israelst.com/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
    <!-- End Piwik Tracking Code -->
</body>
</html>
